# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# enter your code here
orders = pd.read_csv(r"Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397924 entries, 0 to 397923
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    397924 non-null  int64
 1   InvoiceNo     397924 non-null  int64
 2   StockCode     397924 non-null  object
 3   year          397924 non-null  int64
 4   month         397924 non-null  int64
 5   day           397924 non-null  int64
 6   hour          397924 non-null  int64
 7   Description   397924 non-null  object
 8   Quantity      397924 non-null  int64
 9   InvoiceDate   397924 non-null  object
 10  UnitPrice     397924 non-null  float64
 11  CustomerID    397924 non-null  int64
 12  Country       397924 non-null  object
 13  amount_spent  397924 non-null  float64
dtypes: float64(2), int64(8), object(4)
memory usage: 42.5+ MB

In [4]:
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [5]:
Customers = orders.groupby(['CustomerID'])['amount_spent'].sum().sort_values() #los agrupamos por Customer ID y sumamos el amount spent y los ordenamos de manera ascendente

In [6]:
Customers

CustomerID
13256         0.00
16738         3.75
14792         6.20
16454         6.90
17956        12.75
           ...
14911    143825.06
16446    168472.50
17450    194550.79
18102    259657.30
14646    280206.02
Name: amount_spent, Length: 4339, dtype: float64

In [7]:
VIP_Customers = Customers.tail(int(len(Customers)*0.05)) # estos serían los que están por encima del 95%

In [8]:
VIP_Customers.sort_values(ascending=False)

CustomerID
14646    280206.02
18102    259657.30
17450    194550.79
16446    168472.50
14911    143825.06
           ...
15382      5955.71
14505      5905.64
14415      5900.28
14944      5900.25
13209      5891.61
Name: amount_spent, Length: 216, dtype: float64

In [9]:
Percent95listindex= Customers.tail(int(len(Customers)*0.05)).index.tolist() #este es el listado de índices de los que están por encima 95 percentile

In [10]:
Percent75listindex = Customers.tail(int(len(Customers)*0.25)).index.tolist() #este es el listado de índices de los que están por encima 75 percentile

In [11]:
Percent7595listindex = [x for x in Percent75listindex if x not in Percent95listindex] #este es el listado de indices del qeu está entre los dos

In [12]:
Preferred_Customers = Customers.loc[Percent7595listindex,]

In [13]:
Preferred_Customers.sort_values(ascending=False)# estos serían los customers que están entre el 75% y el 95%

CustomerID
13534    5870.08
13050    5836.86
12720    5781.73
15218    5756.89
17686    5739.46
          ...
13149    1676.06
17656    1674.69
16115    1667.97
12912    1662.30
12530    1662.28
Name: amount_spent, Length: 868, dtype: float64

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below: